name: Weekly Release Patch Bump

on:
  schedule:
    - cron: '0 6 * * 1'  # 2 AM EST (UTC-4) on Monday mornings
  workflow_dispatch:

jobs:
  bump-patch:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: devel
        token: ${{ secrets.PAT }}
        fetch-depth: 0

    - name: Run patch bump script and push
      run: |
        sed -r -i 's/(^ARG BIOCONDUCTOR_PATCH=)([0-9]+)$/echo "\1$((\2+1))"/ge' Dockerfile
        
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add Dockerfile
        
        git commit -m "Weekly auto-bump Dockerfile patch version for devel" || exit 0
        git push origin devel